[Digital Ocean settings]
# please uncomment and edit the name prefix for Droplets
#droplet_name_prefix=YOUR_NAME-badger-scanner-
# do_ssh_key is required to run this script. see `doctl compute ssh-key`
do_ssh_key=
# see `doctl compute region list`
do_region=sfo1
# see `doctl compute size list`
do_size=s-2vcpu-4gb
do_image=ubuntu-20-04-x64

[Badger Sett settings]
browser=chrome
num_crawlers=2
num_sites=50
pb_branch=master
tlds_to_exclude=mil,gov
