[Digital Ocean settings]
# please uncomment and edit the name prefix for Droplets
#droplet_name_prefix=YOUR_NAME-badger-scanner-
# do_ssh_key is required to run this script. see `doctl compute ssh-key`
do_ssh_key=
# see `doctl compute region list`
do_region=sfo1
# see `doctl compute size list`
do_size=s-2vcpu-4gb
# see `doctl compute image list-distribution`
do_image=ubuntu-22-04-x64

[Badger Sett settings]
browser=chrome
num_crawlers=2
num_sites=50
pb_branch=master
exclude_suffixes=.mil,.gov
# for specifying custom Tranco lists
#sitelist=output/tranco_XXXXX.csv

[local repository paths]
# Badger Sett
bs_repo_dir=../badger-sett
# Privacy Badger
pb_repo_dir=../privacybadger
